@import "../core/vars.styl";

.MenuButton
  position fixed
  display: block
  size 49px
  cursor pointer
  background-color transparent
  top 60px
  left 100px
  outline: none
  border none
  padding 0
  .cls-1
    fill: #464ae9;
    stroke: #adadad;
    stroke-width: 1px;
    fill-rule: evenodd;

