@import "~jeet/jeet.styl";
@import "./mixins.styl"

rupture.mobile-cutoff = 600px
rupture.desktop-cutoff = 1280px
rupture.hd-cutoff = 1440px
rupture.scale = 0 400px 600px 800px 1050px 1800px

//COLORS
$white = #ededed
$black = #d3d3d3
$primary = #4549e9
$grey = #dddddd
$background = #e9e9e9

$header = $primary

//FONTS
$heading-font = 'Montserrat', Helvetica, Arial, sans-serif
$text-font = 'Montserrat', Helvetica, Arial, sans-serif
